		
		<tbody>
            <% @menus.each do |menu| %>
              <tr>
                <td>
                  <h5><%= menu.name %></h5>
                </td>
                <td>

                  <% if menu.figure_url present? %>
                  <%= image_tag(menu.figure_url, :size=>"500x300") %>
                  <%end%>

                  <%= menu.name %>
                  <br/>

                  <%= menu.ingredient %>
                  <%= menu.price %>
       
                  <%= menu.footrating %>
                  
                </td>
              </tr>
            <%end%>
          </tbody>




