<!DOCTYPE html>
<html>
<head>
<style type="text/css">


</style>
  <title></title>
</head>
<body>

  <tbody>
          <div class="row">
          <% if @menus.blank? %>
            <h3>No Menu is supported</h3>
          <%else%>
              <% @menus.each do |menu| %>
                <tr>
                  <td>
                  </td>
                  <td>

                    <center>

                      <% if menu.figure_url present? %>
                      <%= image_tag(menu.figure_url, :size=>"304x236", :class=>"img-circle") %>
                      <%end%> 
                      <br/>

                      <h2 class="prop-title"><%= menu.name %> </h2>
                      <br/>

                       <span class="rating-value star-rating" data-score=<%= menu.footrating %>></span></h2>

                      <p><strong>Ingredient </strong></p>
                      <p><%= menu.ingredient %></p>
                      <p><strong>Price: </strong>
                      <%= menu.price %> $</p>
                      <br/>
                    </center>
                    <br/>
                    
                  </td>
                </tr>
              <%end%>
              <%end%>
            </div>

          </tbody>

</body>
</html>


<!-- Hello -->		
		



