<h1> This is cooking page </h1>
<%= form_for [@resturant, @menu] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :ingredient %>
  <%= f.label :price %>
  <%= f.number_field :value %>
  <%= f.number_field :footrating, value: 1, min: 1, max: 5%>
  <%= f.number_field :cookingTime %>
  <%= f.file_field :figure %>
  <%= f.submit %>
<%end %>


