<div class="row">
<center>
    <p><h1> <%= current_user.first_name.titleize%> Profile </h1></p>
</center>
  <div class="col-sm-6">

    <center>
      <table class="table">
        <thead>
          <tr>
            <th><h1 class="prop-title">Review</h1></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <% if @my_review_resturant.blank? %>
              <h3>Could not find a restaurant</h3>
            <%else%>
              <% @my_review_resturant.each do |resturant| %>
              <td>
                <% if resturant.image.url.present? %>
                    <%= link_to image_tag(resturant.image_url.to_s, :size=>"370x210"), resturant %>
                <% elsif resturant.name == 'Taco Bell' %>

                  <image src="https://d2eawub7utcl6.cloudfront.net/s0/uploads/locations/1019782b67be71318459abdfc67e80198a882.jpg" height="210" width="370"></image>

                  <% elsif resturant.name == 'Mcdonald' %>
                  <image src="https://michaelmarkadrianus.files.wordpress.com/2014/05/mcdonalds1.jpg" height="300" width="500"></image>

                  <% elsif resturant.name == 'Chipotle' %>
                  <image src="https://drpma142ptgxf.cloudfront.net/assets/logo.svg" height="210" width="370"></image>

                  <% elsif resturant.name == 'Mcdonald' %>
                  <image src="https://michaelmarkadrianus.files.wordpress.com/2014/05/mcdonalds1.jpg" height="300" width="500"></image>

                  <% elsif resturant.name == 'Panda Express' %>
                  <image src="https://lh3.ggpht.com/o_9NahZqWnwDKnjKvGgkUnABsqKB5ACiqYGrcKUAd5YvF0yMkeL8vCnNFSpr1Es_UiCc=w300" height="210" width="370"></image>

                  <% elsif resturant.name == 'A Sushi' %>
                  <image src="https://thumbs.dreamstime.com/x/neon-sushi-sign-19842775.jpg" height="210" width="370"></image>

                  <% elsif resturant.name == 'Pho' %>
                  <image src="https://previews.123rf.com/images/nanamiou/nanamiou1604/nanamiou160400005/55259878-Pho-noodle-house-neon-sign-with-noodle-and-chopsticks-Stock-Vector.jpg" height="210" width="370"></image>

                <% end %>
                <h3 class="prop-title"><%= link_to resturant.name, resturant %></h3>
              </td> 
          </tr> 
              <%end%>
            <%end%>
        </tbody>


      </table>
    </center>

   </div>

  <div class="col-sm-6">
    <center>
      <table class="table">
        <thead>
          <tr>
            <th><h1 class="prop-title">Favorites</h1></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <% if @my_favorites.blank? %>
              <h3>Could not find a restaurant</h3>
            <%else%>
              <% @my_favorites.each do |resturant| %>
              <td>
                
                <% if resturant.image.url.present? %>
                  <%= link_to image_tag(resturant.image_url.to_s, :size=>"370x210"), resturant %>
                <% elsif resturant.name == 'Taco Bell' %>
                  <image src="https://d2eawub7utcl6.cloudfront.net/s0/uploads/locations/1019782b67be71318459abdfc67e80198a882.jpg" height="210" width="370"></image>

                  <% elsif resturant.name == 'Mcdonald' %>
                  <image src="https://michaelmarkadrianus.files.wordpress.com/2014/05/mcdonalds1.jpg" height="300" width="500"></image>

                  <% elsif resturant.name == 'Chipotle' %>
                  <image src="https://drpma142ptgxf.cloudfront.net/assets/logo.svg" height="210" width="370"></image>

                  <% elsif resturant.name == 'Mcdonald' %>
                  <image src="https://michaelmarkadrianus.files.wordpress.com/2014/05/mcdonalds1.jpg" height="300" width="500"></image>

                  <% elsif resturant.name == 'Panda Express' %>
                  <image src="https://lh3.ggpht.com/o_9NahZqWnwDKnjKvGgkUnABsqKB5ACiqYGrcKUAd5YvF0yMkeL8vCnNFSpr1Es_UiCc=w300" height="210" width="370"></image>

                  <% elsif resturant.name == 'A Sushi' %>
                  <image src="https://thumbs.dreamstime.com/x/neon-sushi-sign-19842775.jpg" height="210" width="370"></image>

                  <% elsif resturant.name == 'Pho' %>
                  <image src="https://previews.123rf.com/images/nanamiou/nanamiou1604/nanamiou160400005/55259878-Pho-noodle-house-neon-sign-with-noodle-and-chopsticks-Stock-Vector.jpg" height="210" width="370"></image>

                <% end %>
                <h3 class="prop-title"><%= link_to resturant.name, resturant %></h3>
              </td>
            </tr>   
              <%end%>
            <%end%>

        </tbody>


      </table>
    </center>

  </div>

</div>


