<!DOCTYPE html>
<html>
  <head>
    <title>Yelpclone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/jquery.backstretch.min.js"></script>
  </head>

  <body>
  <script>
    $(function(){
      $.backstretch(["assets/1.jpg", "assets/2.jpg", "assets/3.jpg","assets/4.jpg","assets/5.jpg","assets/6.jpg","assets/7.jpg"], 
      {
        duration:3000,
        fade:1500
      });
    });
  </script>

    <%= render 'navigationsBar/navigation'%>
    <!-- Starting of flash each do-->
    <div class = "container">
    <% flash.each do |key,value| %>
      <div class ="alert alert<%= key %>">
        <a href="#" data-dismiss="alert" class="close">x</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div> <!-- Ending of flash each do-->
    <%end %>
    </div>
    <%= yield %>

  <script>
    $('.star-rating').raty({
        path: '/assets',
        readOnly: true,
        score: function (){
            return $(this).attr('data-score');
        }
    });
  </script>

    <footer class="footer">
     <%= render 'navigationsBar/footer'%>
    </footer>
  </body>
</html>
